body,
html {
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-size: 14px;
}

.saving,
.success,
.failure {
  min-width: 250px;
  margin: 0 !important;
}

.success img {
  margin-right: 10px;
}
